

.contact_us_container{
    position:fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    z-index: 999;
}

img{

    height: 150px;
    object-fit: contain;
    width: 150px;
    
}

img:hover{
    transform: scale(1.1);
}